*.class

# Package Files #
*.jar
*.war
*.ear
.vagrant/

/config/

#Exclude the "compiled" templates (ending in .conf), but not the templates themselves (ending in .conf.erb)
/srv/*/config/*.conf
/srv/*/config/*.json
!/srv/*/config/*.erb

/srv/shippers/*/config/*.conf
/srv/shippers/*/config/*.json
!/srv/shippers/*/config/*.erb

/Vagrantfile.local
/packages/
/example/fabfile.pyc
